.ckentity-data-align-left {
    float: left;
    margin-right: 10px;
}

.ckentity-data-align-right {
    float: right;
    margin-left: 10px;
}

.ckentity-data-align-center {
    text-align: center;
}
