.ckentity-formatter-item {
    float: left;
    margin-right: 10px;
}

.ckentity-formatter-fieldset {
    padding-bottom: 10px;
    border-bottom: 1px dotted #666;
}

.ckentity-formatter-button[type=submit] {
    margin-top: 20px;
    margin-bottom: 40px;
}
