drupal-entity[data-align=left] {
    float: left;
    margin-right: 10px;
}
drupal-entity[data-align=right] {
    float: right;
    margin-left: 10px;
}
drupal-entity[data-align=center] {
    display: block;
    text-align: center;
}